@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Primary */
	--primary-color: #f0b61c;
	--secondary-color: #1abc9c;
	/* Error  */
	--error-25: #fffbfa;
	--error-50: #fef3f2;
	--error-100: #fee4e2;
	--error-200: #fecdca;
	--error-300: #fda29b;
	--error-400: #f97066;
	--error-500: #f04438;
	--error-500-20: #f0443833;
	--error-600: #d92d20;
	--error-700: #b42318;
	--error-800: #912018;
	--error-900: #7a271a;
	/* Warning */
	--warning-25: #fffcf5;
	--warning-50: #fffaeb;
	--warning-100: #fef0c7;
	--warning-200: #fedf89;
	--warning-300: #fec84b;
	--warning-400: #fdb022;
	--warning-500: #f79009;
	--warning-500-20: #f7900933;
	--warning-600: #dc6803;
	--warning-700: #b54708;
	--warning-800: #93370d;
	--warning-900: #7a2e0e;
	/* Success */
	--success-25: #f6fef9;
	--success-50: #ecfdf3;
	--success-100: #d1fadf;
	--success-200: #a6f4c5;
	--success-300: #6ce9a6;
	--success-400: #32d583;
	--success-500: #12b76a;
	--success-500-20: #12b76a33;
	--success-600: #039855;
	--success-700: #027a48;
	--success-800: #05603a;
	--success-900: #054f31;
	/* Dark */
	--dark-night-color: #141414;
	--dark-gunmental-color: #2b2f33;
	--dark-charcoal-color: #3d444d;
	--dark-onix-color: #3b4045;
	--dark-eerie-black-color: #1c1e21;
	/* Green */
	--green-25-color: #59ff9640;
	--green-20-color: #1abc9c33;
	/* Red */
	--red-25-color: #ff212140;
	--red-20-color: #f0443833;
	/* Gray */
	--gray-25-color: #ffffff40;
	--gray-90-color: #ffffffe6;
	--gray-75-color: #ffffffbf;
	--gray-40-color: #ffffff66;
	--gray-15-color: #ffffff26;
	/* Liner Gradient */
	--profile-header-bg-liner: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) -20.31%,
		rgba(0, 0, 0, 0.72) 61.49%
	);
	--line-bg-liner-left: linear-gradient(270deg, #bac3cf 0%, #5a6068 100%);
	--line-bg-liner-right: linear-gradient(90deg, #bac3cf 0%, #5a6068 100%);
	--line-bg-top-liner: linear-gradient(
		90deg,
		rgba(4, 234, 111, 0.64) -1.85%,
		#3d444d 4.58%
	);
}

@layer utilities {
	.container-custom {
		max-width: 1260px;
		width: 100%;
		padding: 0 20px;
		margin: 0 auto;
	}
	.text-32-ext {
		font-size: 32px;
		font-weight: 200;
		line-height: 1.2;
	}
	.text-32-reg {
		font-size: 32px;
		font-weight: 400;
		line-height: 1.2;
	}
	.text-32-med {
		font-size: 32px;
		font-weight: 500;
		line-height: 1.2;
	}
	.text-32-semi {
		font-size: 32px;
		font-weight: 600;
		line-height: 1.2;
	}
	.text-32-bold {
		font-size: 32px;
		font-weight: 700;
		line-height: 1.2;
	}
	.text-24-ext {
		font-size: 24px;
		font-weight: 200;
		line-height: 1.15;
	}
	.text-24-reg {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.15;
	}
	.text-24-med {
		font-size: 24px;
		font-weight: 500;
		line-height: 1.15;
	}
	.text-24-semi {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.15;
	}
	.text-24-bold {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.15;
	}
	.text-16-reg {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.1;
	}
	.text-16-ext {
		font-size: 16px;
		font-weight: 200;
		line-height: 1.1;
	}
	.text-16-med {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.1;
	}
	.text-16-semi {
		font-size: 16px;
		font-weight: 600;
		line-height: 1.1;
	}
	.text-16-bold {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.1;
	}
	.text-14-ext {
		font-size: 14px;
		font-weight: 200;
		line-height: 1.6;
	}
	.text-14-reg {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.6;
	}
	.text-14-med {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.6;
	}
	.text-14-semi {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.6;
	}
	.text-14-bold {
		font-size: 14px;
		font-weight: 700;
		line-height: 1.6;
	}
	.text-12-ext {
		font-size: 12px;
		font-weight: 200;
		line-height: 1.2;
	}
	.text-12-reg {
		font-size: 12px;
		font-weight: 400;
		line-height: 1.2;
	}
	.text-12-med {
		font-size: 12px;
		font-weight: 500;
		line-height: 1.2;
	}
	.text-12-semi {
		font-size: 12px;
		font-weight: 600;
		line-height: 1.2;
	}
	.text-12-bold {
		font-size: 12px;
		font-weight: 700;
		line-height: 1.2;
	}
	.text-10-ext {
		font-size: 10px;
		font-weight: 200;
		line-height: 1.2;
	}
	.text-10-reg {
		font-size: 10px;
		font-weight: 400;
		line-height: 1.2;
	}
	.text-10-med {
		font-size: 10px;
		font-weight: 500;
		line-height: 1.2;
	}
	.text-10-semi {
		font-size: 10px;
		font-weight: 600;
		line-height: 1.2;
	}
	.text-10-bold {
		font-size: 10px;
		font-weight: 700;
		line-height: 1.2;
	}
	.text-8-ext {
		font-size: 8px;
		font-weight: 200;
		line-height: 1.2;
		letter-spacing: -4%;
	}
	.text-8-reg {
		font-size: 8px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: -4%;
	}
	.text-8-med {
		font-size: 8px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: -4%;
	}
	.text-7-reg {
		font-size: 7px;
		font-weight: 200;
		line-height: 1.2;
		letter-spacing: -2%;
	}
}

body {
	@apply bg-dark-eerie-black-color;
	font-family: 'Roboto Flex' !important;
}

.alert-enter-active,
.alert-leave-active {
    transition: opacity 150ms linear;
}

.alert-enter-from,
.alert-leave-to {
    opacity: 0;
}

html {
	scrollbar-width: thin !important;
	scrollbar-color: #6b7280 #2b2f33 !important;
}

html::-webkit-scrollbar {
	width: 8px !important;
}

html::-webkit-scrollbar-track {
	background-color: #2b2f33 !important;
	border-radius: 8px !important;
}

html::-webkit-scrollbar-thumb {
	background-color: #6b7280 !important;
	border-radius: 8px !important;
	border: 2px solid #2b2f33 !important;
}
